.App-header h1{
    color: red;
    /* float: right; */
    /* padding-right: 80px; */
    display: flex;
    padding-top: 2em;
  }

  .App-logo {
    height: 20vmin;
    pointer-events: none;
    display: flex;
  }

  .App-header {
    display: flex;
    padding: 3em;
   
  }
  