

.App-body{
  border-top: 4px solid red;

  padding-top: 20px;
  margin-top: -5em;
}

  .App-body p{
    float: left;
    /* margin-right: 900px; */
  }
  


  .App-body input {
    margin: 0 16px 0 8px;
}
  